<?xml version="1.0" encoding="utf-8"?>

<!--
    AndroidApp3 - Compass

    Android Manifest file.

    This file defines:
    - Location permissions
    - Application name
    - Application icon
    - MainActivity
    - Launcher configuration
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ================================================= -->
    <!-- LOCATION PERMISSIONS                              -->
    <!-- ================================================= -->

    <!-- Precise location permission -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Approximate location permission -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!-- ================================================= -->
    <!-- APPLICATION                                       -->
    <!-- ================================================= -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Compass"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApp3">

        <!-- ================================================= -->
        <!-- MAIN ACTIVITY                                     -->
        <!-- ================================================= -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Makes MainActivity the launcher screen -->
            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>